@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
/* incorrect answers order */
.answer0{order: 1;}
.answer1{order: 3;}
.answer2{order: 4;}

.quizze {
    width: 100%;
    height: 100%;
    background-color: #c3bedc9f;
    flex-direction: column;
    padding: 50px 0;
}

.quizze-container {
    position: relative;
    border-radius: 30px;
    height: 80vh;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #584b9e5b;
}

.quizze-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.quizze-header a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
}

.category {color: white;}

.score {
    font-size: 14px;
    margin: 0 auto 0;
}
.question-answer-container{
    width: 100%;
    height: 80%;
    margin-top: 20%;
}

/* d-flex */
.question-container {
    height: 40%;
    width: 100%;
}

.question-container p {
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1.5px;
    line-height: 1.7rem;
}

.answers-container {
    height: 50%;
    width: 100%;
    padding: 0;
}

.answers-container .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0;
}

.answers-container .row .answer {
    width: 49%;
    height: 48%;
    margin: .5% .5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(68, 37, 126, 0.397);
    cursor: pointer;
}

.button-container {
    max-height: 100px;
    max-width: 1000px;
    padding: 0;
}
button{
    width: 100%;
    letter-spacing: 2px;
    padding: .4rem 0px;

}
.next-btn{
    font-size: 17px;
    padding: .7rem 0px;
    border-radius: 5px;
    text-transform: uppercase;
}
    
p {
    color: white;
    text-align: center;
}

.selected {
    background: #F9DD07!important;
    border: 3px solid #F9DD07!important;
}

.correct {background: #13DD13!important;}

.incorrect {background: #DD1313!important;}

.after-last-question p{
    color: white;
    font-size: 25px;
}
.after-last-question button{
    margin-top: 50px;
    font-size: 1.5rem;
    border: 1px solid coral;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    text-decoration: none;
}

@media only screen and (max-width: 850px) {
    .answers-container .row .answer {
        width: 80%;
        height: 23%;
        margin: .5% auto;
        flex-wrap: wrap;
    }
    .quizze{
        padding: 0 10px;
    }
    .question-container p{
        font-size: 16px;
        width: 100%;
    }
}



