<div class="container col-11 col-md-8">
    <div class="form-container">
        <h6 [ngStyle]="{opacity: errorMsg? '1':'0'}">Number of questions is invalid</h6>

        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="input-container">
                <div class="form-group">
                    <label>Number of Questions</label>
                    <input matInput class="form-control form-input" type="text" name="numberOfQuestions" [ngModel]="numberOfQuestions" pattern="^[1-9]+[0-9]*$" required>
                </div>

                <div class="form-group">
                    <label>Select Category</label>
                    <mat-select type="text" [(ngModel)]="categorySelected" class="form-control form-input" name="category">
                        <mat-option *ngFor="let category of categoryArr" value="{{category.value}}">
                            {{category.title}}
                        </mat-option>
                    </mat-select>
                </div>

                <div class="form-group">
                    <label>Select Difficulty</label>
                    <mat-select type="text" class="form-control form-input" [(ngModel)]="difficultySelected" name="difficulty">
                        <mat-option *ngFor="let difficulty of difficultyArr" value="{{difficulty.value}}">
                            {{difficulty.title}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>


            <button mat-flat-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</div>