<div class="form-container">
    <form #f=ngForm>
        <div class="form-group">
            <div class="label mb-2">
                Number of Questions
            </div>
            <input type="number" class=" form-control" name="questions" [(ngModel)]='questions' required
                pattern="^[1-9]+[0-9]*$">
            <i *ngIf="!f.valid">
                This field is invalid
            </i>
        </div>
        <div class="form-group">
            <div class="label mb-2">Category</div>
            <select class="form-select form-control" [(ngModel)]='categorySelected' name="category">
                <option *ngFor='let item of category' value='{{item.value}}'>
                    {{item.title}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <div class="label mb-2">
                Difficulty
            </div>
            <select class="form-select form-control" [(ngModel)]='difficultySelected' name="difficulty">
                <option *ngFor='let item of difficulty' value='{{item.value}}'>
                    {{item.title}}
                </option>
            </select>
        </div>
        <button type="button" mat-raised-button color="primary" (click)="onSubmit()">
            SUBMIT
        </button>
    </form>
</div>