.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.575);
    min-width: 600px;
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

h6 {
    opacity: 0;
    color: red;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    height: 30%;
}

label {
    color: #797979;
    color: #1eff00;
    display: block;
}

.form-control {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.form-input {
    border-bottom: 2px solid #d8d8d8;
}

button {
    display: block;
    margin: 30px auto;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    border: 2px solid #14a800;
    background: #14a800!important;
}

button:hover {
    background: none!important;
}