/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background: url(https://woobro.design/thumbnails/42/website-speed-optimisation-vector-illustration-5de242cf65d70.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
